<html>
    <header>
        <title>
            Looking into your future
        </title>
    </header>
    <body style="background-color:rgb(255, 247, 204)">
        <h1>
            Looking into the future
        </h1>
        <br>
        <h2> 
            Want to now what the future holds between the 01/06/2021 & 30/06/2021?
        </h2>
        <p>
        1. <u>Your Fortune number will be</u>: {{number}}
        <br>
        2. <u>Your Fortune will take place on</u>: {{day}}
        <br>
        <br>
        </p>
        <strong>Your Fortune:</strong> {{ fortune }}<br><br>
        <h2>
            'Future' from the 'Past'
        </h2>
        
            {% for fortune in all_fortune %}
            {{ fortune.fortune }} 
            <br>
            <br>
        
            {% endfor %}
        </p>

    App version: v1
    </body>
</html>