<html>
    <header>
        <title>
            Looking into your future
        </title>
    </header>
    <body style="background-color:bisque;">
        <h1>
            Looking into your future
        </h1>
        <p>
        What's your Fortune from the 01/06/2021 to 01/07/2021? 
        <br>
        Your Fortune number that will decide your fate: {{number}}
        <br>
        Your Fortune will take place on: {{day}}
        <br>
        </p>
        Your Fortune: 
            {% for fortune in all_fortune %}
            {{ fortune.fortune }} 
            <br>
            {% endfor %}
        </p>
    </body>
</html>